<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hedwig Book Club</title>
<link href="css/styles.css" type="text/css" rel="stylesheet"> 
</head>
<body>
<div id="wrapper">
    <header>
    	<div style="float:right; padding: 10px 10px 0;" sec:authorize="isAuthenticated()"><span sec:authentication="name" style="color: #684348;font-family: Heiti TC;">Username</span></div>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 90px;" th:action="@{/logout}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Logout"/>
    	</form>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 120px;" th:action="@{/dashboard}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Dashboard"/>
    	</form>
    	<!-- <ul style="list-style-type: none;">
    	<li><h4 style="float:right; padding-right: 10px;"><a style="text-decoration: none;" th:href="@{/register}">Register</a></h4></li>
    	<li><h4 style="float:right;padding-right: 10px;"><a style="text-decoration: none;" th:href="@{/login}">Login</a></h4></li></ul> -->
        <a href="index">
            <img id="logo" src="images/1a.png" alt="Hedwing Book Club Logo" style="float: left;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 5px;
    width: 20%;"></a>
        <img id="logotext" src="images/2b.png" alt="Hedwing Book Club Logo Text" style="padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 75%;">
    </header>
    <nav>
        <ul>
            <li><a href="/index">HOME</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li class="dropdown"><a href="/book" class="dropbth">BOOK BOX</a>
               <div class="dropdown-content">
                    <a href="/womenbox">FOR WOMEN ON ENGLISH</a>
                    <a href="/womenbox">FOR WOMEN ON RUSSIAN</a>
                    <a href="/menbox">FOR MEN ON ENGLISH</a>
                    <a href="/menbox">FOR MEN ON RUSSIAN</a>
                    <a href="/kidsbox">FOR KIDS ON RUSSIAN</a>
                </div> 
            </li>
            <li><a href="/bookclub">BOOK CLUB</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
    <div id="wrapper2">
        <main>
            <h1 style="color: #FFD0D0;">JOIN OUR BOOK CLUB!</h1>
            <img src="images/book2.jpg" alt="Photo of book" style="width:95.5%; margin-left:10px;">
        <form action="formhandler.php" method="post">
            <fieldset>
                <label>Name</label>
                <input type="text" name="name">
                <label>Email</label>
                <input type="email" name="email">
                <label>Phone number</label>
                <input type="text" name="phonenumber">
                <input type="submit" value="Join now" class="btn">
            </fieldset>
            <img class ="library" src="images/library.png" alt="Photo of book">
        </form>
        </main>
        <aside>
            <h2 style="font-family: Heiti TC;">JOIN US TODAY AND BE THE FIRST TO GET NOTIFIED ON ANY NEW UPDATES!</h2>
            <p class="club" style="color: #684348; font-family: Heiti TC;"><b>☆ Be a part of exciting book discussions!</b></p>
            <p class="club" style="color: #684348; font-family: Heiti TC;"><b>☆ Take part in the drawing for a 70% discount on our book box!</b></p>
            <p class="club" style="color: #684348; font-family: Heiti TC;"><b>☆ Suggest a theme or book for a future book box!</b></p>
            <p class="club" style="color: #684348; font-family: Heiti TC;"><b>☆ Don't miss out on our incredible mini-marathons and events!</b></p>
            <p style="color: #684348; font-family: Heiti TC; width: 180px; margin-left: 40px;">Want to place an order now? </p> <p style="margin-left: 40px;">Just click "Book now"!</p>
            <a title="Click to book now" href="book"><img class="left" src="images/book_now.png" alt="Book now Photo" style="width: 180px; margin-left: 50px;"></a>
        </aside>
        </div>
    <footer>
        <ul>
            <li><p style="color: #756c6c; font-size: 13px; padding-top: 10%;">2021 &copy; Hedwig Book Club</p></li>
            <li><a href="http://www.instagram.com/hedwig_book_club?igshid=383rzb1vvv33">
                 <img class="social" src="images/instagram.png" alt="Picture of Instagram" style="width: 30px; padding-top: 30%;">
                </a></li>
            <li><a href="http://api.whatsapp.com/send?phone={{+14255356465}}" target="_blank">
                 <img class="social" src="images/whatsapp.png" alt="Picture of WhatsApp" style="width: 30px; padding-top: 26%;">
                </a></li>
            <li><a href="http://t.me/+1(425)535-6465">
                 <img class="social" src="images/tg.png" alt="Picture of Telegram" style="width: 35px; padding-top: 20%;">
                </a></li>
        </ul>
    </footer>
</div>
</body>
</html>