<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Dashboard</title>
<link href="css/login.css" type="text/css" rel="stylesheet"> 
</head>
<body>
	<div id="wrapper">
		<header>
    	<div style="float:right; padding: 10px 10px 0;" sec:authorize="isAuthenticated()"><span sec:authentication="name" style="color: #684348;font-family: Heiti TC;">Username</span></div>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 90px;" th:action="@{/logout}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Logout"/>
    	</form>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 120px;" th:action="@{/dashboard}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Dashboard"/>
    	</form>
        <a href="dashboard">
            	<img id="logo" src="https://webstockreview.net/images/clipart-owl-harry-potter-15.png" alt="Hedwing Book Club Logo" style="float: left; padding-top: 25px; padding-left: 30px; padding-bottom: 20px; width: 18%;">
    		</a>
       		<h1 style="font-family: Party LET; color: #684348; padding: 10% 0 5% 35%;margin-bottom: 0">Hedwig Book Club</h1>
    </header>
    	<nav>
        	<ul>
            	<li><a href="dashboard">HOME</a></li>
            	<li><a th:href="users">USERS</a></li>
            	<li><a th:href="shopping_books">BOOKS</a></li>
            	<li><a th:href="register_book">ADD BOOK</a></li>
            	<li><a th:href="cart">CART</a></li>
        	</ul>
    	</nav>
    	<div id="wrapper2">
    	
    	
    	<div style="padding: 10% 30%;">
    		<div>
	    		<h1>Dashboard</h1>
				<p th:text="|Hello there ${user.username}|"></p>
				
				<form method="post" action="/logout">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<p><a th:href="users" style="color: #684348;">List of users</a></p>
					<br/>
					<p><a th:href="shopping_books" style="color: #684348;">List of Available Books</a></p>
					<br/>
					<p><a th:href="register_book" style="color: #684348;">Add Books</a></p>
					<br/>
					<p><a th:href="cart" style="color: #684348;">Cart</a></p>
					<button class="submitBtn" type="submit">Logout</button>
				</form> 
			</div>
    	</div>
    	
    	
    	</div>
		<footer>
       		<ul>
           		<li>
           			<p style="color: #756c6c; font-size: 13px; padding-top: 10%;">2021 &copy; Hedwig Book Club</p>
           		</li>
        	</ul>
    	</footer>
	</div>
</body>
</html>