<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8"> <!--  "ISO-8859-1"-->
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<title>Hedwig Book Club</title>
<link href="css/styles.css" type="text/css" rel="stylesheet"> 
<link rel="stylesheet" href="css/blueberry.css" type="text/css">
    <style>
        .blueberry { max-width: 1100px; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="js/jquery.blueberry.js"></script>
    <script>
        $(window).load(function() {
           $('.blueberry').blueberry(); 
        });
    </script>
</head>
<body>
<div id="wrapper">
    <header>
    	<div style="float:right; padding: 10px 10px 0;" sec:authorize="isAuthenticated()"><span sec:authentication="name" style="color: #684348;font-family: Heiti TC;">Username</span></div>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 90px;" th:action="@{/logout}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Logout"/>
    	</form>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 120px;" th:action="@{/dashboard}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Dashboard"/>
    	</form>
    	<!-- <ul style="list-style-type: none;">
    	<li><h4 style="float:right; padding-right: 10px;"><a style="text-decoration: none;" th:href="@{/register}">Register</a></h4></li>
    	<li><h4 style="float:right;padding-right: 10px;"><a style="text-decoration: none;" th:href="@{/login}">Login</a></h4></li></ul> -->
        <a href="index">
            <img id="logo" src="images/1a.png" alt="Hedwing Book Club Logo" style="float: left;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 5px;
    width: 20%;"></a>
        <img id="logotext" src="images/2b.png" alt="Hedwing Book Club Logo Text" style="padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 75%;">
    </header>
    <nav>
        <ul>
            <li><a href="index">HOME</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li class="dropdown"><a href="book" class="dropbth">BOOK BOX</a>
               <div class="dropdown-content">
                    <a href="womenbox">FOR WOMEN ON ENGLISH</a>
                    <a href="womenbox">FOR WOMEN ON RUSSIAN</a>
                    <a href="menbox">FOR MEN ON ENGLISH</a>
                    <a href="menbox">FOR MEN ON RUSSIAN</a>
                    <a href="kidsbox">FOR KIDS ON RUSSIAN</a>
                </div> 
            </li>
            <li><a href="bookclub">BOOK CLUB</a></li>
            <li><a href="gallery">GALLERY</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
    </nav>

   <div class="blueberry">
      <ul class="slides">
        <li><img src="images/banner1.jpg"></li>
        <li><img src="images/banner2.jpg"></li>
          <li><img src="images/banner3.jpg"></li>
          <li><img src="images/banner4.jpg"></li>
      </ul>
    </div>

<!-- blueberry -->
    
    <div id="wrapper2">
        <main>
            <h1 style="color: #FFD0D0;">Do You Love Reading?</h1>
            <h1 style="color: #FFD0D0; font-size: 3em;">You are in the right place!</h1>
            <p style="color: #684348; font-family: Heiti TC;">We are extremely happy to see you on our page! We have prepared for you the most exciting book boxes with gifts inside! Depending on the theme and genre you choose, the contents of the book box give you the atmosphere and help you dive into the story and live it with the main character. </p><p style="color: #684348; font-family: Heiti TC;">Our book box can be a great gift for your loved ones, friends, colleagues, anyone, or for yourself. If you love reading, you have come to the right place, because we organize a real book adventure!</p>
            <h1 style="color: #FFD0D0; font-family: Times New Roman, Heiti TC;">We are magicians!</h1>
            <p style="color: #684348; font-family: Heiti TC;">We help you transfer from the real world to our book, to be in the very center of events!</p>
            <h2 style="color: #684348; font-family: Heiti TC;">Ready?</h2>
            <img id="pen" src="images/oldpen.png" alt="Photo of pen" style="width: 120px;">
            <blockquote>"What kind of person you become is determined by two factors: the people you communicate with and the books you read." Robin Sharma</blockquote>

        </main>
        <aside>
            <h1 style="color: #FFD0D0; font-family: Times New Roman, Heiti TC; font-size: 2.5em;">New Book Box theme every month!</h1>
            <figure>
            <img src="images/hedwig_author.jpg" alt="Picture of Books">
                <figcaption style="color: #684348; font-family: Times New Roman, Heiti TC;">Our beautiful Hedwig Book Box ♡</figcaption>
            </figure>
            <p style="color: #684348; font-family: Heiti TC;">Want to place an order now? </p> <p style="margin-left: 40px;">Just click "Book now"!</p>
            <a title="Click to book now" href="book"><img class="left" src="images/book_now.png" alt="Book now Photo" style="width: 180px; margin-left: 50px;"></a>
        </aside>
        </div>
    <footer>
        <ul>
            <li><p style="color: #756c6c; font-size: 13px; padding-top: 10%;">2021 &copy; Hedwig Book Club</p></li>
            <li><a href="http://www.instagram.com/hedwig_book_club?igshid=383rzb1vvv33">
                 <img class="social" src="images/instagram.png" alt="Picture of Instagram" style="width: 30px; padding-top: 30%;">
                </a></li>
            <li><a href="http://api.whatsapp.com/send?phone={{+14255356465}}" target="_blank">
                 <img class="social" src="images/whatsapp.png" alt="Picture of WhatsApp" style="width: 30px; padding-top: 26%;">
                </a></li>
            <li><a href="http://t.me/+1(425)535-6465">
                 <img class="social" src="images/tg.png" alt="Picture of Telegram" style="width: 35px; padding-top: 20%;">
                </a></li>
        </ul>
    </footer>
</div>
    
</body>
</html>