<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Login</title>
<link href="css/login.css" type="text/css" rel="stylesheet"> 
</head>
<body>
	<div id="wrapper">
		<header>
        	<a href="dashboard">
            	<img id="logo" src="https://webstockreview.net/images/clipart-owl-harry-potter-15.png" alt="Hedwing Book Club Logo" style="float: left; padding-top: 25px; padding-left: 30px; padding-bottom: 20px; width: 18%;">
    		</a>
       		<h1 style="font-family: Party LET; color: #684348; padding: 5% 0 10% 35%;margin-bottom: 0">Hedwig Book Club</h1>
    	</header>
    	<nav>
        	<ul>
            	<li><a href="dashboard">HOME</a></li>
            	<li><a th:href="users">USERS</a></li>
            	<li><a th:href="shopping_books">BOOKS</a></li>
            	<li><a th:href="register_book">ADD BOOK</a></li>
            	<li><a th:href="cart">CART</a></li>
        	</ul>
    	</nav>
    	<div id="wrapper2">
    	<div style="padding: 10% 30%;">

    	
    	
    	
			<form th:action="@{/registration}" th:object="${user}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<fieldset>
					<legend style="width:50%; font-size:4em;">Register</legend>
			        <p>
			        	<label for="firstname">First name</label>
			          		<input type="text" id="fisrtname" name="firstName" placeholder="First name" required minlength="2" maxlength="20">
			        </p>
			        <p>
			        	<label for="lastname">Last name</label>
			          		<input type="text" id="lastname" name="lastName" placeholder="Last name" required minlength="2" maxlength="20">
			        </p>
			        <p>
			        	<label for="username">Username</label>
			          		<input type="email" id="username" name="username" placeholder="Email" required autofocus>
			        </p>
			        <p>
			         	<label for="password">Password</label>
			         		<input type="password" id="password" name="password" placeholder="Password" required>
			        </p>	
				    <div>
				       <button class="submitBtn">Create Account</button>
				    </div>
				    
				   	<div>
						<h3 ><p><a th:href="@{/login}" style="color: #684348;">Login</a></p></h3>
					</div>
				</fieldset>
      		</form>	
      		
      		
    	</div>
		</div>
		<footer>
       		<ul>
           		<li>
           			<p style="color: #756c6c; font-size: 13px; padding-top: 10%;">2021 &copy; Hedwig Book Club</p>
           		</li>
        	</ul>
    	</footer>
	</div>
</body>
</html>