<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Login</title>
<link href="css/login.css" type="text/css" rel="stylesheet"> 
</head>
<body>
	<div id="wrapper">
		<header>
    	<div style="float:right; padding: 10px 10px 0;" sec:authorize="isAuthenticated()"><span sec:authentication="name" style="color: #684348;font-family: Heiti TC;">Username</span></div>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 90px;" th:action="@{/logout}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Logout"/>
    	</form>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 120px;" th:action="@{/dashboard}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Dashboard"/>
    	</form>
        <a href="dashboard">
            	<img id="logo" src="https://webstockreview.net/images/clipart-owl-harry-potter-15.png" alt="Hedwing Book Club Logo" style="float: left; padding-top: 25px; padding-left: 30px; padding-bottom: 20px; width: 18%;">
    		</a>
       		<h1 style="font-family: Party LET; color: #684348; padding: 10% 0 5% 35%;margin-bottom: 0">Hedwig Book Club</h1>
    </header>
    	<nav>
        	<ul>
            	<li><a href="dashboard">HOME</a></li>
            	<li><a th:href="users">USERS</a></li>
            	<li><a th:href="shopping_books">BOOKS</a></li>
            	<li><a th:href="register_book">ADD BOOK</a></li>
            	<li><a th:href="cart">CART</a></li>
        	</ul>
    	</nav>
    	<div id="wrapper2">
    	<div style="padding: 10% 10%;">


		<h2>List Of Available Books</h2>
		<table>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Price</th>
			</tr>
			<tr th:each="bks : ${books}">
				<td><a th:href="@{/{bookId}(bookId=${bks.id}+b)}" th:text="${bks.id}"></a></td>
				<td th:text="${bks.title}"></td>
				<td th:text="${bks.author}"></td>
				<td th:text="${bks.price}"></td>
				<!--<td><a th:href="@{/shopping_books}" th:text="add"></a></td>-->
				
			</tr>
		</table>
		<p><a th:href="cart" style="color: #684348;">Cart</a></p>
		<p><a th:href="dashboard" style="color: #684348;">Back</a></p>
		<script th:src="@{/js/add_to_cart.js}"></script>
		</div>
    	</div>
		<footer>
       		<ul>
           		<li>
           			<p style="color: #756c6c; font-size: 13px; padding-top: 10%;">2021 &copy; Hedwig Book Club</p>
           		</li>
        	</ul>
    	</footer>
	</div>
</body>
</html>