<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
<title>Login</title>
<link href="css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
	<header>
    	<div style="float:right; padding: 10px 10px 0;" sec:authorize="isAuthenticated()"><span sec:authentication="name" style="color: #684348;font-family: Heiti TC;">Username</span></div>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 90px;" th:action="@{/logout}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Logout"/>
    	</form>
    	<form style="float:right; padding: 10px 10px 0px; margin-bottom: 0px; width: 120px;" th:action="@{/dashboard}" method="post">
    		<input type="submit" style="margin-bottom: 0px; background-color: #FFD0D0; color: #684348;" value="Dashboard"/>
    	</form>
        <a href="dashboard">
            	<img id="logo" src="https://webstockreview.net/images/clipart-owl-harry-potter-15.png" alt="Hedwing Book Club Logo" style="float: left; padding-top: 25px; padding-left: 30px; padding-bottom: 20px; width: 18%;">
    		</a>
       		<h1 style="font-family: Party LET; color: #684348; padding: 10% 0 5% 35%;margin-bottom: 0">Hedwig Book Club</h1>
    </header>
    <nav>
        	<ul>
            	<li><a href="dashboard">HOME</a></li>
            	<li><a th:href="users">USERS</a></li>
            	<li><a th:href="shopping_books">BOOKS</a></li>
            	<li><a th:href="register_book">ADD BOOK</a></li>
            	<li><a th:href="cart">CART</a></li>
        	</ul>
    	</nav>
    	<div id="wrapper2">
    	<div style="padding: 10% 10%;">

			<h2>User Information</h2>
			<h2 th:text="|User ID: ${user.id}|"></h2>
		
			<p><a th:href="users" style="color: #684348;">Back</a></p>
			<div th:inline="text">
			Frist name: [[${user.firstName}]]
			</div>
			<div>
			Last name: [[${user.lastName}]]
			</div>
			<div>
			Username: <span th:text="${user.username}"></span>
			</div>
		</div>
			<form method="post" th:action="@{/users/{id}/delete(id=${user.id})}">
				<input type="submit" value="Delete User Account" />
			</form>
		</div>
		<footer>
       		<ul>
           		<li>
           			<p style="color: #756c6c; font-size: 13px; padding-top: 10%;">2021 &copy; Hedwig Book Club</p>
           		</li>
        	</ul>
    	</footer>
	</div>
</body>
</html>